* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
  /* height: 800px; */
}

.items {
  display: none;
}

.carousel .visibleItem {
  display: block;
}

.carousel-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}

button {
  padding: 16px;
  border-radius: 50%;
  border: none;
}

button:hover {
  background-color: black;
  color: #fff;
}

button:active {
  background-color: #fff;
}
